@()
         <h3> <class="ui header"> Change Password </h3>

         <form action="/changepassword" method="POST">

         	<div class="field">
             <input type="password" placeholder="*****" name="oldpassword">
          	 <div class="ui left pointing label">
      				Please enter your old password
    		 </div>              
           </div>
           <div class="field">
             <input type="password" placeholder="*****" name="newpassword">
             <div class="ui left pointing label">
      				Please enter your new password
    		 </div>
           </div> 
           <div class="field">
             <input type="password" placeholder="*****" name="newpassword2">
             <div class="ui left pointing label">
      				Please retype your new password
    		 </div>
           </div> 
            <button class="small ui purple submit button"> Change Password </button>
         </form>
